@import url('https://fonts.googleapis.com/css?family=Pacifico');
table, tbody {
  background-color: #0066CC;
}

table, tr, th {
 
  font-family: 'Pacifico';
  font-style: cursive;
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
  color: #CCFF33;
  background-color: #00CCFF;
  font-style: italic;

}

table, tr, td {
  font-family: 'Pacifico';
  
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
  text-align-color: #CCFF66;
  text-align: center;
  font-style: italic;
  color:#0066CC;
  background-color: #0066CC;
  font-style: italic;
}

table, thead {
  font-size: 25px;
  color:  #CCFF33;
  font-style: italic;
}
table, caption {
  font-size: 30px;
}

.blink_me {
  font-size: 40px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}