a {
  font-family: monospace;
  text-decoration: none;
  font-weight: none;
}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: underline;
  color: #00c;
  font-family: cursive;
  background-color:#FF0099;
}

a:active {
  font-weight: bold;
  color: #CC99FF;
  background-color: #330066;
}